@import "settings";

footer {
  // pushs footer always to bottom
  position: absolute;
  bottom: 0;
  width: 100%;

  background: $dark;
  color: $gray;
  padding: 1em;
  margin-top: 3em;
  line-height: 2em;
//  font-size: 0.75em;

  a {
    color: inherit;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-left: 1em;
  }

  .icon-logo {
    font-size: 2em;
  }
}