@import "settings";

footer {

  background: $dark;
  color: $gray;
  padding: 1em;
  line-height: 2em;
//  font-size: 0.75em;

  a {
    color: inherit;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-left: 1em;
  }

  .icon-logo {
    font-size: 2em;
  }
}