#teaser {
  background: url(../img/header.jpg) no-repeat;
  background-size: cover;
  height: 70vh;
  max-height: 600px;

  color: white;
  text-align: center;

  position: relative;

  @media #{$small-only} {
    font-size: 60%;
  }

  //  background-position: -300px 0;

  @media #{$small-only} {
    max-height: 300px;
    background-position: -100px 0;
  }

  @media #{$small-only} and (orientation: landscape) {
    max-height: 170px;
    background-position: 0 -25px;
  }

  .container {
    position: absolute;
    left: 50%;
    max-width: 62.5rem;
    bottom: 2em;
  }

  .statement {
    position: relative;
    left: -50%;
    text-shadow: 0px 0px 3px black;

    @media #{$small-only} {
      font-size: 0.8em;
    }

  }

  h1 {
    margin-bottom: 0.25em;
  }

}

#home {
  h1 {
    text-align: center;
  }

  .info {
    border-top: 1px solid lightgray;
    padding: 1em 0;
    margin: 1em 0;
    font-weight: bold;

    @media #{$small-only} {
      margin: 1em 5em;
    }

  }

}

#contact {

  img {
    display: inline-block;
    margin-bottom: 1em;
    max-width: 250px;
    width: 100%;
  }

  h3, p {
    margin: 0;
  }

  .icons {
    font-family: "icon";
    font-size: 2em;

    a {
      border-radius: 100%;
      color: $gray;

      .no-touch &:hover {
        color: $primary-color;
      }
    }

  }

  .map a {
    font-size: 2em;
    display: block;
    padding-bottom: 0.5em;
  }

  a {
    padding: 0 0.5em;
  }

  @media #{$small-only} {
    .medium-4 {
      margin: 2em 0;
    }
  }

}