@import "settings";

.menu-fixed {

  #menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(white, 0.9);
  }

  #menu + div {
    margin-top: 80px;
  }
}

#menu {

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  z-index: 999;
  position: relative;

  li {
    display: inline-block;
  }

  a {
    padding: 2em 1em;
    color: $gray;
    display: inline-block;
  }

  a.active {
    background: $primary-color;
    color: white;
  }

  .no-touch & {
    a:not(.active):hover {
      color: $primary-color;
    }
  }

  .logo {
    color: inherit;
  }
}