<nav id="menu">
    <div class="row">
        <div class="left">
            <a href="/" class="logo">
                <strong>Tony</strong>Findeisen
            </a>
        </div>
        <div class="right">
            <ul>
                <li><a href="/#about">About</a></li>
                <li><a href="/#portfolio">Portfolio</a></li>
                <li><a href="/#contact">Contact</a></li>
                <!-- TODO: add blog-->
                <!--<li><a href="/blog">Blog</a></li>-->
            </ul>
        </div>
    </div>
</nav>