<nav id="menu">
    <div class="row">
        <div class="left">
            <a href="/" class="logo">
                <strong>Tony</strong>Findeisen
            </a>
        </div>
        <div class="right">
            <ul>
                <li class="hidden-for-small"><a href="/#about">About</a></li>
                <li class="hidden-for-small"><a href="/#portfolio">Portfolio</a></li>
                <li class="hidden-for-small"><a href="/#contact">Contact</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>