<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/app.css"/>
    <script src="/js/modernizr.min.js"></script>
</head>
<body>

{{ content }}
<script>
    var ga = (function (w, d, s, u, n, a, m) {
        w['GoogleAnalyticsObject'] = n;
        w[n] = w[n] || function () {
            (w[n].q = w[n].q || []).push(arguments)
        }; w[n].l = 1 * new Date();
        a = d.createElement(s);
        m = d.getElementsByTagName(s)[0];
        a.async = 1;
        a.src = u;
        m.parentNode.insertBefore(a, m);

        return w[n];
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-36884636-1', 'tonyfindeisen.de');
    ga('send', 'pageview');
</script>

{% if site.config.dev == true %}
<script src="/js/cssrefresh.js" async="async"></script>
{% endif %}
</body>
</html>